/* Dark mode color scheme
Light (1) to dark (4)
1. #909EAE
2. #687A8F
3. #435161
4. #152638 -> Background color
 */

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #152638;
  --dark1: #909EAE;
  --dark2: #687A8F;
  --dark3: #435161;
  --dark4: #152638;
  --light1: #F8FAFC;
  --light2: #D9EAFD;
  --light3: #BCCCDC;
  --light4: #9AA6B2;
  --light-text: #212529;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  margin: 0;            
  text-align: left;       
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.map-page-wrapper {
  box-sizing: 0;
  border-inline: 0;
  width: 100vw;
  height: calc(100vh - 64px); 
  overflow: hidden;
  display: block;
}

.map-page-wrapper-dark  {
  height: 100%;
  width: 100%;
  background-color: var(--dark4) !important;
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.map-page-wrapper-light {
  height: 100%;
  width: 100%;
  background-color: var(--light1) !important;
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}


.content-container, .home-page, .about-page {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.unstyled-link {
  /* Remove default blue color and underline */
  color: inherit;
  text-decoration: none;
  
  /* Ensure the link takes up the space of its contents */
  display: contents; 
}

.unstyled-link:hover, 
.unstyled-link:focus, 
.unstyled-link:visited, 
.unstyled-link:active {
  color: inherit;
  text-decoration: none;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

#intro-blurb {
  font-size:xx-large;
}


/* Make the Leaflet labels pop with a slight glow */
.leaflet-tile-pane {
    filter: brightness(1.2) contrast(1.1);
}

.news-page-dark {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
 background-color: var(--dark4)!important;
 transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.news-page-light {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
 background-color: var(--light1) !important;
 transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.news-card-dark {
  border: 10px solid;
  border-radius: 25px !important;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  height: 100%;
  background-color: var(--dark3) !important;
  color: #f8f9fa !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.news-card-light {
  border: none;
  border-radius: 25px !important;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  height: 100%;
  background-color: var(--light2) !important;
  color: #212529 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

/* Navbar color dark scheme */
.bg-custom-dark {
  background-color: var(--dark4);
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

/* Navbar color light scheme */
.bg-custom-light {
  background-color: var(--light1);
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

body {
  margin: 0;
  min-height: 100vh;
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.bg-page-light {
  background-color: var(--light1);
  color: #212529;
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}

.bg-page-dark {
  background-color: var(--dark4);
  color: #ffffff;
  transition: background-color 0.3s ease; /* Smooth transition when switching */
}